# Arquivos de configuração do IntelliJ IDEA
.idea/

# Arquivos de dependências do Maven
/.mvn/

# Diretórios e arquivos gerados pelo build
/target/

# Arquivos de configuração de ambientes (variáveis de ambiente)
.env